@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;

    --first-color: #e55947;
    --first-color-alt: #d2321e;
    --white-color: #fafaff;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #f0f1f3;

    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;

    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 3rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0 var(--mb-1);
    text-align: center;
}

.section-all {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    color: var(--dark-color-light);
    text-align: center;
    margin-bottom: var(--mb-2);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.show {
    right: 0;
}

.active {
    color: var(--first-color);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.collection__container {
    row-gap: 2rem;
}

.collection__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--gray-color);
    transition: 0.3s;
}

.collection__box:hover {
    transform: translate3d(0, -0.5rem, 0);
}

.collection__img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.collection__title {
    font-size: var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi);
}

.collection__subtitle {
    font-size: var(--h2-font-size);
    color: var(--dark-color-light);
}

.collection__view {
    font-size: var(--small-font-size);
    color: var(--dark-color-light);
}


.collection__view:hover {
    text-decoration: underline;
}

.featured__container {
    row-gap: 2rem;
}

.featured__product {
    transition: 0.3s;
}

.featured__product:hover {
    transform: translate3d(0, -0.5rem, 0);
}

.featured__box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--gray-color);
}

.featured__new {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.3rem 1.75rem;
    font-size: var(--small-font-size);
}

.featured__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.featured__data {
    text-align: center;
}

.featured__name {
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);
}

.featured__preci {
    color: var(--dark-color-light);
    font-weight: var(--font-semi);
}

.new__container {
    row-gap: 2rem;
}

.new__box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--gray-color);
    overflow: hidden;
}

.new__box:hover .new__link {
    bottom: 0;
}

.new__link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 89, 71, 0.2);
    transition: 0.3s;
}

.newsletter {
    text-align: center;
}

.newsletter__description {
    margin-bottom: var(--mb-2);
    font-size: var(--small-font-size);
    color: var(--dark-color-light);
}

.newsletter__form {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.newsletter__input {
    outline: none;
    border: none;
    background-color: var(--gray-color);
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.813rem;
    }

    body {
        margin: 0;
    }

    .section-all {
        margin-bottom: var(--mb-4);
    }

    .collection__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .collection__box {
        padding: 0.5rem 3rem 0;
    }

    .collection__img {
        width: 130px;
    }

    .featured__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .new__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .newsletter__form {
        width: 400px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}